.jj/
__pycache__/
venv/
*.pyc

*.db
*.sqlite

instance/*

flasquelistan/static/uploads/*
flasquelistan/static/gen/*
flasquelistan/static/.webassets-cache*

*pytest_cache*

*.mo

*.swp
.coverage

flasquelistan/songbook_dist/
ssh/
