[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"

[packages]
Flask = "*"
Flask-SQLAlchemy = "*"
Flask-Admin = "*"
Flask-Login = "*"
pytest = "*"
Flask-Assets = "*"
webassets = {git = "https://github.com/miracle2k/webassets.git", editable = true}
Flask-Babel = "*"
Flask-Bcrypt = "*"
Flask-WTF = "*"
Flask-Uploads = "*"
phonenumbers = "*"

[dev-packages]
