[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"

[packages]
Flask = "*"
Flask-SQLAlchemy = "*"
Flask-Admin = "*"
Flask-Login = "*"
pytest = "*"
Flask-Babel = "*"
Flask-Bcrypt = "*"
Flask-WTF = "*"
Flask-Uploads = "*"
phonenumbers = "*"
markdown = "*"
vobject = "*"

[requires]
python_version = "3.7"

[dev-packages]
