bcrypt
click<8.2.0
coverage
ffmpy
flask<2.3.0
flask-admin
flask-babel<3.0.0
flask-HTTPAuth
flask-login
flask-reuploaded
flask-socketio
flask-sqlalchemy<3.0.0
flask-wtf<1.0.0
gevent
gevent-websocket
gunicorn
markdown
phonenumbers
pillow
pytest
pytest-xdist
requests
requests-oauthlib
sh
sqlalchemy<2.0.0
vobject
werkzeug<3.0.0
wtforms[email]<3.0.0
