bcrypt
coverage
ffmpy
flask
flask-admin
flask-babel
flask-HTTPAuth
flask-login
flask-reuploaded
flask-sqlalchemy
flask-wtf
gunicorn
markdown
phonenumbers
pillow
pytest
pytest-xdist
requests
requests-oauthlib
sh
vobject
wtforms[email]
