{% extends 'layout.html' %}

{% set active_page = "misc" %}

{% block body %}
<div>
  <h2>Produkter</h2>
  {% if articles %}
  <div class="table-wrap">
    <table class="articles">
      <tr>
        <th>Namn</th>
        <th>Pris</th>
        <th>Standardglas</th>
        <th>Beskrivning</th>
        <th>Sorteringsvikt</th>
        <th>Aktiv</th>
      </tr>
      {% for article in articles %}
      <tr>
        <td>
          <a href="{{ url_for('strequeadmin.edit_article', article_id=article.id) }}">
            {{ article.name }}
          </a>
        </td>
        <td>
          {{ article.formatted_value }}
        </td>
        <td>
          {{ article.standardglas }}
        </td>
        <td class="article-description">
          {{ article.description }}
        </td>
        <td>
          {{ article.weight }}
        </td>
        <td>
          {% if article.is_active %}
          Aktiv
          {% else %}
          Inaktiv
          {% endif %}
        </td>
      </tr>
      {% endfor %}
    </table>
  </div>
  {% else %}
  <p>Inga produkter funna.</p>
  {% endif %}
  <p><a href="{{ url_for('strequeadmin.edit_article') }}">Ny produkt</a></p>
</div>
{% endblock %}
