{% extends 'layout.html' %}

{% set active_page = "more" %}

{% from "macros.html" import form_entry %}

{% block body %}
<div class="transactions">
    <h2>{{ _("Gör transaktioner i bulk") }}</h2>
    <p>{{ _("Positivt transaktionsvärde innebär en insättning till användarens konto, negativt innebär ett uttag.") }}</p>
  <form method="POST">
    {{ form.csrf_token }}
    <div class="table-wrap bulk-transactions">
      <table>
        <tr>
            <th>{{ _("Användare") }}</th>
          <th>{{ _("Transaktionsvärde") }}</th>
          <th>{{ _("Meddelande") }}</th>
        </tr>
        {% for field in form if field.name != "csrf_token" %}
        <tr>
          <td class="user">
            <span class="user">
              {{ field.user_id }}
              {{ field.user_name }}
              {{ field.user_name.data }}
            </span>
          </td>
          <td>
            <span class="value">
              {{ field.value(placeholder='0,00') }} kr
            </span>
          </td>
          <td>
            <span class="text">
              {{ field.text(placeholder=_("Admintransaktion")) }}
            </span>
          </td>
        </tr>
        {% endfor %}
      </table>
    </div>
    <button>{{ _("Skicka") }}</button>
  </form>
</div>
{% endblock %}

{% block scripts %}
<script src="{{ url_for('static', filename='js/common.js') }}"></script>
<script src="{{ url_for('static', filename='js/admin.js') }}"></script>
{% endblock %}
