{% extends "admin/layout.html" %}

{% block scripts %}
<script defer src="{{ url_for('static', filename='js/common.js') }}"></script>
<script defer src="{{ url_for('static', filename='js/admin.js') }}"></script>
{% endblock %}

{% block body %}
<div class="transactions">
  <h2>{{ _("Gör transaktioner i bulk") }}</h2>
  <p>{{ _("Positivt transaktionsvärde innebär en insättning till användarens konto, negativt innebär ett uttag.") }}</p>
  <p>{{ _("Dessa transaktioner kommer genomföras, vill du fortsätta?") }}</p>
  <p>{{ _("Använd bakåt-knappen i webbläsaren istället för \"Avbryt\" ifall du vill ha kvar värdena!") }}</p>
  <form method="POST" action="{{ url_for('strequeadmin.confirm_bulk_transactions') }}">
    <input type="hidden" name="csrf_token" value="{{ csrf_token() }}"/>
    <div class="table-wrap bulk-transactions">
      <table>
        <tr>
          <th>{{ _("Användare") }}</th>
          <th>{{ _("Transaktionsvärde") }}</th>
          <th>{{ _("Meddelande") }}</th>
        </tr>
        {% for transaction in transactions %}
        <tr>
          <td>
            <span class="user">
              {{ transaction.user_name }}
            </span>
          </td>
          <td>
            <span class="value">
              <input type="hidden" name="user-{{ transaction.user_id }}-value" value="{{ transaction.value }}"/>
              {{ format_currency(transaction.value/100, 'SEK') }}
            </span>
          </td>
          <td>
            <span class="text">
              <input type="hidden" name="user-{{ transaction.user_id }}-text" value="{{ transaction.text }}"/>
              {{ transaction.text }}
            </span>
          </td>
        </tr>
        {% endfor %}
      </table>
    </div>
    <div class="form-field">
        <button>{{ _("Skicka") }}</button> | <a href="{{ url_for('strequeadmin.bulk_transactions') }}">{{ _("Avbryt") }}</a>
    </div>
  </form>
</div>
{% endblock %}
