{% extends "layout.html" %}

{% set active_page = "more" %}

{% from "macros.html" import form_entry %}

{% block body %}
<div>
    <h2>{% if article %}{{_("Redigera")}}{% else %}{{_("Skapa")}}{% endif %} {{_("produkt")}}</h2>
  <form method="POST">
    {{ form.csrf_token }}

    {{ form_entry(form.name) }}
    {{ form_entry(form.value) }}
    {{ form_entry(form.standardglas) }}
    {{ form_entry(form.description, cols=30, rows=5) }}
    {{ form_entry(form.weight) }}
    {{ form_entry(form.is_active) }}

    {% if article %}
    <div class="form-entry">
      <button class="confirm" formaction="{{ url_for('strequeadmin.remove_article', article_id=article.id) }}">{{_("Ta bort produkt")}}</button>
    </div>
    {% endif %}

    <div class="form-entry">
      <button>{{_("Spara")}}</button> | <a href="{{ url_for('strequeadmin.articles') }}">{{_("Avbryt")}}</a>
    </div>
  </form>
</div>
</div>
{% endblock %}

{% block scripts %}
<script src="{{ url_for("static", filename="js/confirmDialog.js") }}">
{% endblock %}
