{% extends "admin/layout.html" %}

{% from "macros.html" import form_entry %}

{% block scripts %}
<script defer src="{{ url_for("static", filename="js/confirmDialog.js") }}"></script>
{% endblock %}

{% block body %}
<div>
  <h2>{{ _("Redigera citat") }}</h2>
  <form method="POST">
    {{ form.csrf_token }}

    {{ form_entry(form.text, cols=30, rows=5) }}
    {{ form_entry(form.who, cols=30, rows=5) }}
    {{ form_entry(form.timestamp, placeholder='yyyy-MM-ddTHH:mm') }}

    <div class="form-entry">
      <button class="confirm" formaction="{{ url_for('strequeadmin.remove_quote', quote_id=quote.id) }}">{{ _("Ta bort citat") }}</button>
    </div>

    <div class="form-entry">
      <button>{{ _("Spara") }}</button> | <a href="{{ url_for('strequeadmin.show_quotes') }}">{{ _("Avbryt") }}</a>
    </div>
  </form>
</div>
{% endblock %}
