{% extends "admin/layout.html" %}

{% block body %}
<div>
  <h2>{{ _("Grupper") }}</h2>
  {% if groups %}
  <div class="table-wrap">
    <table class="groups">
      <tr>
        <th>{{ _("Namn") }}</th>
        <th>{{ _("Sorteringsvikt") }}</th>
      </tr>
      {% for group in groups %}
      <tr>
        <td>
          <a href="{{ url_for('strequeadmin.edit_group', group_id=group.id) }}">
            {{ group.name }}
          </a>
        </td>
        <td>
          {{ group.weight }}
        </td>
      </tr>
      {% endfor %}
    </table>
  </div>
  {% else %}
  <p>{{ _("Inga grupper funna.") }}</p>
  {% endif %}
  <p><a href="{{ url_for('strequeadmin.edit_group') }}">{{ _("Ny grupp") }}</a></p>
</div>
{% endblock %}
