Hej kära, torstiga {{ user.first_name }}!

Ditt Strequelist-saldo är för närvarande {{ user.formatted_balance }}.

Om du tycker att det är lågt kan det vara dags att fylla på, om du
tycker att det är högt får vi ta ett snack.

Åtgärda underskottet genom att sätta in pengar på PG 20 74-3.
Märk betalningen med "Streque/Saldo {{ user.full_name }}".

Vänliga hälsningar
QM
