{% extends "admin/layout.html" %}

{% set active_page = "more" %}

{% block scripts %}
<script defer src="{{ url_for('static', filename='js/common.js') }}"></script>
<script defer src="{{ url_for('static', filename='js/admin.js') }}"></script>
{% endblock %}

{% block body %}
<div>
  <h2>{{ _("Citat") }}</h2>
  <div class="table-wrap">
    <table class="quotes">
      <tr>
        <th>{{ _("Citat") }}</th>
        <th>{{ _("Upphovsman") }}</th>
        <th>{{ _("Tid") }}</th>
      </tr>
      {% for quote in quotes %}
      <tr>
        <td class="quote">
          <span>
            {{ quote.text }}
          </span>
        </td>
        <td class="who">
          <span>
            {{ quote.who }}
          </span>
        </td>
        <td class="timestamp">
          <span>
            {{ quote.timestamp }}
          </span>
        </td>
        <td class="edit-link">
          <a href="{{ url_for('strequeadmin.edit_quote', quote_id=quote.id) }}">
            {{ _("Redigera") }}
          </a>
        </td>
      </tr>
      {% endfor %}
    </table>
  </div>
</div>
{% endblock %}
