{% extends "admin/layout.html" %}

{% set active_page = "more" %}

{% block body %}
<div>
  <h2>{{ _("Skicka saldopåminnelser") }}</h2>
  <p>{{ _("Skicka en påminnelse till medlemmar med negativt saldo.") }}</p>
  <div class="table-wrap">
    <table>
      <tr>
        <th>{{ _("Användare") }}</th>
        <th>{{ _("Saldo") }}</th>
      </tr>
      {% for user in users %}
      <tr>
        <td class="user">
          <span>
            {{ user.full_name }}
          </span>
        </td>
        <td class="balance">
          <span>
            {{ user.formatted_balance }}
          </span>
        </td>
      </tr>
      {% endfor %}
    </table>
  </div>
  <form method="POST" action="{{ url_for('strequeadmin.spam') }}">
    <input type="hidden" name="csrf_token" value="{{ csrf_token() }}"/>
    <div class="form-entry">
      <div class="form-field">
        <button>{{ _("Skicka") }}</button>
      </div>
    </div>
  </form>
</div>
{% endblock %}
