{% extends 'layout.html' %}

{% set active_page = "more" %}

{% from "macros.html" import form_entry %}

{% block scripts %}
<script defer src="{{ url_for('static', filename='js/common.js') }}"></script>
<script defer src="{{ url_for('static', filename='js/admin.js') }}"></script>
{% endblock %}

{% block body %}
<div>
  <h2>{{ _("Användare") }}</h2>
  <div class="table-wrap">
    <table class="users">
      <tr>
        <th>{{ _("Namn") }}</th>
        <th>{{ _("E-postadress") }}</th>
        <th>{{ _("Telefonnummer") }}</th>
        <th>{{ _("Saldo") }}</th>
        <th>{{ _("Aktiv") }}</th>
        <th>{{ _("Admin") }}</th>
      </tr>
      {% for user in users %}
      <tr>
        <td class="name">
          <span>
            <a href="{{ url_for('strequelistan.show_profile', user_id=user.id) }}">
              {{ user.full_name }}
            </a>
          </span>
        </td>
        <td class="email">
          <span>
            {{ user.email }}
          </span>
        </td>
        <td class="phone">
          <span>
            {{ user.phone }}
          </span>
        </td>
        <td class="balance">
          <span>
            {{ user.formatted_balance }}
          </span>
        </td>
        <td class="active">
          <span>
            {% if user.active %}
            {{ _("Aktiv") }}
            {% else %}
            {{ _("Inaktiv") }}
            {% endif %}
          </span>
        </td>
        <td class="admin">
          <span>
            {% if user.is_admin %}
            {{ _("Admin") }}
            {% else %}
            {{ _("Ej admin") }}
            {% endif %}
          </span>
        </td>
      </tr>
      {% endfor %}
    </table>
  </div>
</div>
{% endblock %}
