{% extends "auth/auth_layout.html" %}

{% from "macros.html" import form_entry, form_entry_row %}

{% set title = _("Log in") %}

{% block body %}
<div class="login">
  <form method="POST">
    {{ form.csrf_token }}
    <h2>{{_("Log in")}}</h2>

    {{ form_entry(form.email, description=False) }}

    {{ form_entry(form.password, description=False) }}

    {{ form_entry_row(form.remember) }}

    <div class="form-field">
      <button>{{ _("Log in")}}</button>
    </div>
  </form>
  <dl>
    <dt>{{ _("Have you lost your password?")}}</dt>
    <dd><a href="{{ url_for('auth.reset') }}">{{ _("Reset password")}}</a></dd>
    <dt>{{_("Do you need an account?")}}</dt>
    <dd><a href="{{ url_for('auth.register') }}">{{ _("Register an account")}}</a></dd>
  </dl>
</div>
{% endblock %}
