{% extends "auth/auth_layout.html" %}

{% from "macros.html" import form_entry, form_entry_row %}

{% set title = "{{_(login_title)}}" %}

{% block body %}
<div class="login">
  <form method="POST">
    {{ form.csrf_token }}
    <h2>{{_(login_header)}}</h2>

    {{ form_entry(form.email, description=False) }}

    {{ form_entry(form.password, description=False) }}

    {{ form_entry_row(form.remember) }}

    <div class="form-field">
      <button>{{ _("login_login-button")}}</button>
    </div>
  </form>
  <dl>
    <dt>{{ _("login_forgotten-password-header")}}</dt>
    <dd><a href="{{ url_for('auth.reset') }}">{{ _("login_restore-password")}}</a></dd>
    <dt>{{_("login_no-account-header")}}</dt>
    <dd><a href="{{ url_for('auth.register') }}">{{ _("login_register-account")}}</a></dd>
  </dl>
</div>
{% endblock %}
