{% extends "auth/auth_layout.html" %}

{% from "macros.html" import form_entry, form_entry_row %}

{% set title = "Logga in" %}

{% block body %}
<div class="login">
<!-- code to set the default input focus -->
<script src="/static/js/setFocusLoginPage.js"></script>
  <form method="POST">
    {{ form.csrf_token }}
    <h2>Logga in</h2>

    {{ form_entry(form.email, description=False) }}

    {{ form_entry(form.password, description=False) }}

    {{ form_entry_row(form.remember) }}

    <div class="form-field">
      <button>Logga in</button>
    </div>
  </form>
  <dl>
    <dt>Glömt ditt lösenord?</dt>
    <dd><a href="{{ url_for('auth.reset') }}">Återställ lösenord</a></dd>
    <dt>Har du inget konto?</dt>
    <dd><a href="{{ url_for('auth.register') }}">Begär ett konto</a></dd>
  </dl>
</div>
{% endblock %}
