Hej kära, torstiga {{ user.nickname or user.first_name }}!

Ditt saldo på Strequelistan är för närvarande {{ user.formatted_balance }}.

Åtgärda underskottet genom att sätta in pengar på PG 20 74-3.
Märk betalningen med "Streque {{ user.full_name }}".

Vänliga hälsningar
QM
