{% extends "strequeadmin/layout.html" %}

{% from "macros.html" import form_entry %}

{% block scripts %}
<script defer src="{{ url_for('static', filename='js/common.js') }}"></script>
<script defer src="{{ url_for('static', filename='js/admin.js') }}"></script>
{% endblock %}

{% block body %}
<div class="transactions">
  <h2>{{ _("Transaktionshistorik") }}</h2>
  <form class="date-range-form" method="POST">
    {{ form.csrf_token }}
    {{ form_entry(form.start) }}
    {{ form_entry(form.end) }}
    <button>{{ _("Sök") }}</button>
  </form>
  {% if transactions.all() %}
  <div class="table-wrap">
    <table class="transaction-history">
      <tr>
        <th>{{ _("Användare") }}</th>
        <th>{{ _("Skapad av") }}</th>
        <th>{{ _("API-nyckel") }}</th>
        <th>{{ _("Transaktionstyp") }}</th>
        <th>{{ _("Meddelande") }}</th>
        <th>{{ _("Värde") }}</th>
        <th>{{ _("Datum") }}</th>
      </tr>
      {% for transaction in transactions %}
      <tr>
        <td class="user">
          <span>
            {{ transaction.user.full_name }}
          </span>
        </td>
        <td class="user">
          <span>
            {% if transaction.created_by %}
            {{ transaction.created_by.full_name }}
            {% else %}
            {{ _("Okänt") }}
            {% endif %}
          </span>
        </td>
        <td class="user">
          <span>
            {% if transaction.api_key %}
            <a href="{{ url_for('strequelistan.edit_api_key', user_id=transaction.api_key.user.id, api_key_id=transaction.api_key.id) }}">
            {% if transaction.api_key.short_name %}
            {{ transaction.api_key.short_name }}
            {% else %}
            {{ transaction.api_key.name }}
            {% endif %}
            </a>
            {% endif %}
          </span>
        </td>
        <td class="type">
          <span>
            {% if transaction.type == 'streque' %}
            {{ _("Streque") }}
            {% elif transaction.type == 'admin_transaction' %}
            {{ _("Admin") }}
            {% elif transaction.type == 'user_transaction' %}
            {{ _("Pay") }}
            {% else %}
            {{ transaction.type }}
            {% endif %}
          </span>
        </td>
        <td class="text">
          <span>
            {{ transaction.text }}
          </span>
        </td>
        <td class="value">
          <span>
            {{ transaction.formatted_value }}
          </span>
        </td>
        <td class="timestamp">
          <span>
            {{ format_datetime(transaction.timestamp, "yyyy-MM-dd HH:mm") }}
          </span>
        </td>
        <td>
          {% if not transaction.voided %}
          <form id="void-transaction-{{ transaction.id }}"
                class="transaction void-form"
                action="{{ url_for('strequeadmin.void_transaction') }}"
                method="POST">

            <input type="hidden" name="csrf_token" value="{{ csrf_token() }}"/>
            <input type="hidden" name="transaction_id" value="{{ transaction.id }}"/>

            <button class="transaction void-button"
                    data-transactionid="{{ transaction.id }}"
                    data-csrftoken="{{ csrf_token() }}">
              {{ _("Ångra") }}
            </button>
          </form>
          {% else %}
          {{ _("Ångrad") }}
          {% endif %}
        </td>
      </tr>
      {% endfor %}
    </table>
  </div>
  {% else %}
  <p>{{ _("Inga transaktioner funna.") }}</p>
  {% endif %}
</div>
{% endblock %}
