{% extends 'layout.html' %}

{% set active_page = "streque" %}

{% block body %}
<div class="article-descriptions">
    <h2>{{ _("Produkter") }}</h2>
  <p>{{ _("Priserna kan variera beroende på ditt saldo.") }}</p>
  <dl>
    {% for article in articles %}
    <div class="article">
      <dt class="article-name">{{ article.name }}</dt>
      <dd class="article-price">{{ article.formatted_value }}</dd>
      <dd class="article-description">
      {{ article.html_description|safe or "" }}
      </dd>
    </div>
    {% endfor %}
  </dl>
</div>
{% endblock %}
