<!DOCTYPE html>
<html lang="sv">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="manifest" href="{{ url_for('static', filename="manifest.json") }}">

    <link rel="shortcut icon" type="image/png" href="{{ url_for('static', filename='images/icon-192.png') }}">
    <link rel="shortcut icon" sizes="196x196" href="{{ url_for('static', filename='images/icon-192.png') }}">
    <link rel="apple-touch-icon" href="{{ url_for('static', filename='images/icon-192.png') }}">

    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/streque.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/quotes.css') }}">

    <title>{{ _("Site title") }}</title>

    {% block head %}
    {% endblock %}

    <script defer src="{{ url_for('static', filename='js/install-serviceworker.js') }}"></script>
    {% block scripts %}
    {% endblock %}
  </head>
  <body>
    <header>
      <a class="logo" href="{{ url_for('strequelistan.index') }}">
        <img src="{{ url_for('static', filename='images/cuteladypoursadrink.png') }}" alt="Cute lady pours a drink">
        <h1>{{ _("Site heading") }}</h1>
      </a>
    </header>
    {% block nav %}
    {% endblock %}
    {% block base_body %}
    {% endblock %}
  </body>
</html>
