<!DOCTYPE html>
<html lang="sv">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Strequelistan</title>

    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/streque.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/quotes.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/admin.css') }}">

    {% block head %}
    {% endblock %}
  </head>
  <body>
    <header>
      <a class="logo" href="{{ url_for('strequelistan.index') }}">
        <img src="{{ url_for('static', filename='images/cuteladypoursadrink.png') }}" alt="Cute lady pours a drink">
        <h1>Strequelistan</h1>
      </a>
    </header>
    {% block nav %}
    {% endblock %}
    {% block base_body %}
    {% endblock %}
  </body>
</html>
