{% extends "layout.html" %}

{% set active_page = "streque" %}

{% from "macros.html" import form_entry %}

{% block body %}
<div class="profile">
  <div>
    <h2>
      {{ user.first_name }}
      {% if user.nickname %}"{{ user.nickname }}"{% endif %}
      {{ user.last_name }}
    </h2>

    <form method="POST">
      {{ form.csrf_token }}

      {{ form_entry(form.email) }}
      {{ form_entry(form.new_password) }}
      {% if current_user.is_admin and current_user.id != user.id and not user.is_admin %}
      <input id="password" name="password" type="hidden" value="not used, Admin is logged in">
      {% else %}
      {{ form_entry(form.password) }}
      {% endif %}
      <div class="form-field">
        <button>Spara</button> | <a href="{{ url_for('strequelistan.edit_profile', user_id=user.id) }}">Avbryt</a>
      </div>
    </form>
  </div>
</div>
{% endblock %}
