{% extends "layout.html" %}

{% from "macros.html" import text_field %}

{% block body %}
<div class="profile">
  <h2>
    {{ user.first_name }}
    {% if user.nickname %}"{{ user.nickname }}"{% endif %}
    {{ user.last_name }}
  </h2>

  <form method="POST">
    {{ form.csrf_token }}
    {% if current_user.is_admin %}
    {{ text_field(form.first_name) }}
    {{ text_field(form.last_name) }}
    {% endif %}

    {{ text_field(form.nickname) }}
    {{ text_field(form.phone) }}

    <a href="{{ url_for('strequelistan.change_email_or_password', user_id=user.id) }}">Byt e-postadress eller lösenord</a>

    <div class="form-field">
      <button>Spara</button> | <a href="{{ url_for('strequelistan.show_profile', user_id=user.id) }}">Avbryt</a>
    </div>
  </form>
</div>
{% endblock %}
