{% extends "layout.html" %}

{% set active_page = "streque" %}

{% from "macros.html" import form_entry, form_entry_row, profile_picture %}

{% block body %}
<div class="profile">
  <div class="profile-content">
    {{ profile_picture(user, with_link=True) }}
  </div>

  <div class="profile-content">
    <h2>
      {{ user.first_name }}
      {% if user.nickname %}"{{ user.nickname }}"{% endif %}
      {{ user.last_name }}
    </h2>

    <form method="POST">
      {{ form.csrf_token }}

      {% if current_user.is_admin %}
      {{ form_entry(form.first_name) }}
      {{ form_entry(form.last_name) }}
      {{ form_entry(form.group_id) }}
      {{ form_entry_row(form.active) }}
      {% endif %}

      {{ form_entry(form.nickname) }}
      {{ form_entry(form.phone) }}
      {{ form_entry(form.body_mass) }}
      {{ form_entry(form.y_chromosome) }}

      <p><a href="{{ url_for('strequelistan.change_email_or_password', user_id=user.id) }}">{{ _("Byt e-postadress eller lösenord") }}</a></p>

      <div class="form-field">
          <button>{{ _("Spara") }}</button> | <a href="{{ url_for('strequelistan.show_profile', user_id=user.id) }}">{{ _("Avbryt") }}</a>
      </div>
    </form>
  </div>
</div>
{% endblock %}
