{% extends 'layout.html' %}

{% set active_page = "history" %}

{% block scripts %}
<script defer src="{{ url_for('static', filename='js/common.js') }}"></script>
<script defer src="{{ url_for('static', filename='js/history.js') }}"></script>
{% endblock %}

{% macro streque_card(streque, void_button=True) %}
<li id="{{ streque.id }}" class="card strequecard">
  <span class="username">
    {{ streque.user.displayname }}
    <div class="lower">
      <span class="timestamp">
        {{ format_datetime(streque.timestamp, "dd MMMM yyyy, HH:mm") }}
      </span>
      {% if streque.api_key and streque.api_key.short_name %}
      <span class="separator">|</span>
      <span class="api-key" title="{{ _('Streckat genom ')}}{{ streque.api_key.name }}">
        {{ streque.api_key.short_name }}
      </span>
      {% endif %}
    </div>
  </span>
  <span class="text">
    {{ streque.text }}
  </span>

  {% if void_button %}
  <form class="void-form" method="POST" action="{{ url_for('strequelistan.void_streque') }}">
    <input type="hidden" name="csrf_token" value="{{ csrf_token() }}"/>
    <input type="hidden" name="streque_id" value="{{ streque.id }}"/>
    <button class="void-button" data-strequeid="{{ streque.id }}">
      Ångra
    </button>
  </form>
  {% endif %}
</li>
{% endmacro %}

{% block body %}
<div class="streques">
  <h2>{{ _("Historik") }}</h2>

  <input id="ajax-csrf_token" type="hidden" name="csrf_token" value="{{ csrf_token() }}"/>

  <p class="no-streques-notice"{% if streques %} hidden{% endif %}>{{ _("Inga transaktioner de senaste 15 minuterna!") }}</p>
  <ol class="streque-list">
    {% for streque in streques %}
    {{ streque_card(streque) }}
    {% endfor %}
  </ol>
</div>
{% endblock %}
