{% macro form_entry(field, description=True) %}
<div class="form-entry">
  <div>{{ field.label }} {% if field.flags.required %}<span class="required">*</span>{% endif %}</div>
  {% if description and field.description %}
  <div class="field-description">
    {{ field.description }}
  </div>
  {% endif %}
  <div class="form-field">
    <span>{{ field(*varargs, **kwargs) }}</span>
  </div>
</div>
{% endmacro %}

{% macro form_entry_row(field, description=True) %}
<div class="form-entry">
  <span class="form-field">
    <span>{{ field(*varargs, **kwargs) }}</span>
  </span>
  <span>{{ field.label }} {% if field.flags.required %}<span class="required">*</span>{% endif %}</span>
  {% if description and field.description %}
  <div class="field-description">
    {{ field.description }}
  </div>
  {% endif %}
</div>
{% endmacro %}

{% macro profile_picture(user, with_link=False) %}
{% if user.profile_picture %}
{% if with_link %}
<a class="profile-picture" href="{{ url_for_image(user.profile_picture.filename, 'profilepicture') }}">
  <img src="{{ url_for_image(user.profile_picture.filename, 'profilepicture', 600) }}">
</a>
{% else %}
<img class="profile-picture" src="{{ url_for_image(user.profile_picture.filename, 'profilepicture', 200) }}">
{% endif %}
{% else %}
<div class="profile-picture no-profile-picture">
  🙂
</div>
{% endif %}
{% endmacro %}
