{% macro form_entry(field, description=True) %}
<div class="form-entry">
  <div>{{ field.label(class='error' if field.errors else '') }} {% if field.flags.required %}<span class="required">*</span>{% endif %}</div>
  {% for error in field.errors %}
  <div class="field-description error">
    {{ _("Fel:") }} {{ error }}
  </div>
  {% endfor %}
  {% if description and field.description %}
  <div class="field-description">
    {{ field.description }}
  </div>
  {% endif %}
  <div class="form-field">
    <span>{{ field(*varargs, **kwargs) }}</span>
  </div>
</div>
{% endmacro %}

{% macro form_entry_row(field, description=True) %}
<div class="form-entry">
  <span class="form-field">
    <span>{{ field(*varargs, **kwargs) }}</span>
  </span>
  <span>{{ field.label }} {% if field.flags.required %}<span class="required">*</span>{% endif %}</span>
  {% if description and field.description %}
  <div class="field-description">
    {{ field.description }}
  </div>
  {% endif %}
  {% for error in field.errors %}
  <div class="field-error">
    {{ error }}
  </div>
  {% endfor %}
</div>
{% endmacro %}

{% macro profile_picture(user, with_link=False, lazy=False) %}
{% if user.profile_picture %}
{% if with_link %}
<a class="profile-picture" href="{{ url_for('strequelistan.user_gallery', user_id=user.id, page=gallery_page_for_image(user.profile_picture, user), _anchor=user.profile_picture.id) }}">
  <img src="{{ url_for_image(user.profile_picture.filename, 'profilepicture', 600) }}">
</a>
{% else %}
  <img class="profile-picture" src="{{ url_for_image(user.profile_picture.filename, 'profilepicture', 200) }}"{% if lazy %} loading="lazy"{% endif %}>
{% endif %}
{% else %}
<div class="profile-picture">
  <div class="no-profile-picture">
    {{ user.emoji }}
  </div>
</div>
{% endif %}
{% endmacro %}

{% macro paginator_item(base_url, text, pagenum, active) %}
  <div class="paginator-item {% if active %}active{% endif %}">
    {% if active %}
    <a href="{{base_url}}{{pagenum}}">{{text}}</a>
    {% else %}
      {{text}}
    {% endif %}
  </div>
{% endmacro %}

{% macro paginator(base_url, page, has_prev, has_next, last_page) %}
  <div class="paginator">
    {{ paginator_item(base_url, '<<', 1, has_prev) }}
    {{ paginator_item(base_url, '<', page - 1, has_prev) }}

    {% if has_prev %}
      {% for p in range(page-2, page) %}
      {% if p >= 1 %}
          {{ paginator_item(base_url, p, p, True) }}
        {% endif %}
      {% endfor %}
    {% endif %}

    {{ paginator_item(base_url, page, page, False) }}

    {% if has_next %}
      {% for p in range(page+1, page+3) %}
        {% if p <= last_page %}
          {{ paginator_item(base_url, p, p, True) }}
        {% endif %}
      {% endfor %}
    {% endif %}

    {{ paginator_item(base_url, '>', page + 1, has_next) }}
    {{ paginator_item(base_url, '>>', last_page, has_next) }}
  </div>
{% endmacro %}

{% macro gallery_image_card(image) %}
  <div class="gallery-item" id="{{ image.id }}">
    <a href="{{ url_for_image(image.filename, 'profilepicture') }}">
      <img class="gallery-image" src="{{ url_for_image(image.filename, 'profilepicture', 800) }}">
    </a>
    <div class="gallery-image-description">
      <a href="{{ url_for('strequelistan.show_profile', user_id=image.user.id) }}">{{ image.user.full_name }}</a>,
      {{_('Uppladdad')}}: {{ image.timestamp.strftime('%d %b %Y ') }}
    </div>
  </div>
{% endmacro %}

