{% macro text_field(field, description=True) %}
<div class="form-field">
  {{ field.label }} {% if field.flags.required %}<span class="required">*</span>{% endif %}
  <div class="text-field">
    <span>{{ field(*varargs, **kwargs) }}</span>
    {% if description and field.description %}
    <span class="field-description">
      {{ field.description }}
    </span>
    {% endif %}
  </div>
</div>
{% endmacro %}

{% macro profile_picture(user) %}
{% if user.profile_picture %}
<img class="profile-picture" src="{{ image_uploads_url(user.profile_picture.filename) }}">
{% else %}
<div class="profile-picture no-profile-picture">
  😐
</div>
{% endif %}
{% endmacro %}
