{% extends "base.html" %}

{% block head %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/paperlist.css') }}">
{% endblock %}

{% block base_body %}
<main>
  <div class="paperlist">
    <table>
      {% for group in groups %}
      {% set group_users = users.filter_by(group_id=group.id) %}
      {% if group_users.first() %}
      <tr>
        <th>{{ group.name }}</th>
        {% for article in articles %}
        <th>{{ article.name }}</th>
        {% endfor %}
      </tr>

      {% for user in group_users %}
      <tr>
        <td>{{ user.nickname or user.full_name }}</td>
        {{ "<td></td>"|safe * articles|length }}
      </tr>
      {% endfor %}
      {% endif %}
      {% endfor %}
      {% for n in range(empty) %}
      <tr>
        <td></td>
        {{ "<td></td>"|safe * articles|length }}
      </tr>
      {% endfor %}
    </table>
  </div>
</main>
{% endblock %}
