{% extends "layout.html" %}

{% set active_page = "quotes" %}

{% macro quote_inner(quote) %}
<div class="quote-text">{{ quote.text }}</div>
<div class="quote-meta">
  {% if quote.who %}
  <div class="quote-who">&mdash; {{ quote.who }}</div>
  {% endif %}
  <div class="lower">
    <span class="quote-when">{{ format_datetime(quote.timestamp, "dd MMMM yyyy, HH:mm") }}</span>
    <span class="quote-permalink"><a href="{{ url_for('quotes.quote', quote_id=quote.id) }}">{{_("Perma&shy;länk")}}</a></span>
  </div>
</div>
{% endmacro %}

{% macro quote_card(quote) %}
<div class="quote card">
  {{ quote_inner(quote) }}
</div>
{% endmacro %}

{% block body %}
<div class="cards">
  <h2>{{_("Citat")}}</h2>
  <p><a href="{{ url_for('quotes.add_quote') }}">{{_("Lägg till citat")}}</a></p>
  {% if not quotes %}
  <p>{{_("No quotes yet!")}}</p>
  {% endif %}
  {% for quote in quotes %}
  {{ quote_card(quote) }}
  {% endfor %}
</div>
{% endblock %}
