{% extends "layout.html" %}

{% macro quote_card(quote) %}
<div class="card quote">
  <div class="quote-text">{{ quote.text }}</div>
  <div class="quote-meta">
    <div class="right">
      {% if quote.who %}
      <div class="quote-who">{{ quote.who }}</div>
      {% endif %}
      <div class="quote-when">{{ format_datetime(quote.timestamp, "dd MMMM yyyy, HH:mm") }}</div>
    </div>
    <div class="quote-permalink"><a href="{{ url_for('quotes.quote', quote_id=quote.id) }}">Permalänk</a></div>
  </div>
</div>
{% endmacro %}

{% block body %}
<div class="quotes">
  <h1>Citat</h1>
  <a href="{{ url_for('quotes.add_quote') }}">Lägg till citat</a>
  <div class="cards">
    {% if not quotes %}
    <p>No quotes yet!</p>
    {% endif %}
    {% for quote in quotes %}
    {{ quote_card(quote) }}
    {% endfor %}
  </div>
</div>
{% endblock %}
