{% extends "layout.html" %}

{% set active_page = "quotes" %}
{% set quotes_index_endpoint = url_for('quotes.index') %}

{% macro quote_inner(quote) %}
<div class="quote-text">{{ quote.cleaned() }}</div>
<div class="quote-meta">
  {% if quote.who %}
  <div class="quote-who">&ndash; {{ quote.who }}</div>
  {% endif %}
  <div class="lower">
    <span class="quote-when">
      <a href="{{ quotes_index_endpoint + '#quote-%s'|format(quote.id) }}">
        {% if quote.has_date() %}
        {% if quote.has_time() %}
        {{ format_datetime(quote.timestamp, "dd MMMM yyyy, HH:mm") }}
        {% else %}
        {{ format_datetime(quote.timestamp, "dd MMMM yyyy") }}
        {% endif %}
        {% else %}
        {{ _("före tidens början...") }}
        {% endif %}
      </a>
    </span>
  </div>
</div>
{% endmacro %}

{% macro quote_card(quote) %}
<div id="quote-{{ quote.id }}" class="quote card">
  {{ quote_inner(quote) }}
</div>
{% endmacro %}

{% block body %}
<div class="cards">
  <h2>{{ _("Citat") }}</h2>
  <p><a href="{{ url_for('quotes.add_quote') }}">{{ _("Lägg till citat") }}</a></p>
  {% if not quotes %}
  <p>{{ _("No quotes yet!") }}</p>
  {% endif %}
  {% for quote in quotes %}
  {{ quote_card(quote) }}
  {% endfor %}
</div>
{% endblock %}
