{% extends "layout.html" %}

{% set active_page = "streque" %}

{% from "macros.html" import profile_picture, usercard %}

{% block head %}
<script defer src="{{ url_for('static', filename='js/common.js') }}"></script>
<script defer src="{{ url_for('static', filename='js/addStreque.js') }}"></script>
<script defer src="{{ url_for('static', filename='js/userFilter.js') }}"></script>
{% endblock %}

{% block body %}
<div class="cards">
  <input id="ajax-csrf_token" type="hidden" name="csrf_token" value="{{ csrf_token() }}"/>

  <h2 class="user-filter">{{ _("Filtrera användare") }}</h2>
  <div class="user-filter">
    <p><small>{{ _("Du kan söka på namn, smeknamn och telefonnummer.") }}</small></p>
    <input type="text" id="user-filter" placeholder="Namn" autocomplete="off">
    <button id="clear-filter" type="button">{{ _("Rensa") }}</button>
  </div>

  <a href="{{ url_for('strequelistan.index') }}">{{ _("Gå tillbaka") }}</a>

  <div class="group">
    <h2>{{ group.name }}</h2>
    {% for user in group.users %}
    {{ usercard(user, articles) }}
    {% endfor %}
  </div>
</div>

{% endblock %}
