{% extends "layout.html" %}

{% block body %}
<div class="profile">
  <h2>
    {{ user.first_name }}
    {% if user.nickname %}"{{ user.nickname }}"{% endif %}
    {{ user.last_name }}
  </h2>

  <dl>
    <dt>E-postadress</dt>
    <dd>{{ user.email }}</dd>
    <dt>Telefonnummer</dt>
    <dd>{{ user.phone }}</dd>

    {% if user == current_user or current_user.is_admin %}
    <dt>Saldo</dt>
    <dd>{{ user.formatted_balance }}</dd>

    <a href="{{ url_for('strequelistan.edit_profile', user_id=user.id) }}">Redigera profil</a>
    {% endif %}
  </dl>
</div>
{% endblock %}
