{% extends "layout.html" %}

{% set active_page = "streque" %}
{% set main_class = "non-padded" %}

{% from "macros.html" import profile_picture, form_entry %}

{% block body %}
<div class="profile">
  {{ profile_picture(user, with_link=True) }}

  <div>
    <h2>
      {{ user.first_name }}
      {% if user.nickname %}"{{ user.nickname }}"{% endif %}
      {{ user.last_name }}
    </h2>

    <p>
      <a href="{{ url_for('strequelistan.edit_profile', user_id=user.id) }}">Redigera profil</a>
    </p>

    <dl>
      <dt>E-postadress</dt>
      <dd><a href="mailto:{{ user.email }}">{{ user.email }}</a></dd>

      {% if user.phone %}
      <dt>Telefonnummer</dt>
      <dd>
      {% if user.formatted_phone() %}
      <a href="tel:{{ user.formatted_phone(e164=True) }}">{{ user.formatted_phone() }}</a>
      {% else %}
      {{ user.phone }}
      {% endif %}
      </dd>
      {% endif %}
    </dl>

    <p>
      <a href="{{ url_for('strequelistan.user_vcard', user_id=user.id) }}" download>Ladda ner kontaktfil</a>
    </p>
    {% if user == current_user or current_user.is_admin %}
    <dl>
      <dt>Saldo</dt>
      <dd>{{ user.formatted_balance }}</dd>
    </dl>
    {% endif %}

    <form class="upload-and-set-profile-picture" method="POST" enctype="multipart/form-data">
      {{ profile_picture_form.csrf_token }}
      {{ form_entry(profile_picture_form.upload) }}
      <div class="form-field">
        <button>Spara</button>
      </div>
    </form>
    {% if user == current_user or current_user.is_admin %}
    <br/>
    <form method="POST" enctype="multipart/form-data">
      {{ change_profile_picture_form.csrf_token }}

      <div class="form-field">
        <fieldset class="change-profile-picture">
          <legend>Uppladdade profilbilder</legend>
          <div class="grid-wrapper">
            {% for subfield in change_profile_picture_form.profile_picture %}
            <div class="form-field">
              {{ subfield }}
              <label for="{{ subfield.id }}">
                {% if loop.first %}
                <div class="label">
                  {{ subfield.label.text }}
                </div>
                {% else %}
                <img class="label" src="{{ url_for_image(subfield.label.text, 'profilepicture', 200) }}">
              </label>
              {% endif %}
            </div>
            {% endfor %}
          </div>
        </fieldset>
      </div>
      <div class="form-field">
        <input type="submit" value="Spara">
      </div>
    </form>
    <dl>
      <dt>Historik</dt>
      <dd>
      {% if transactions.all() %}
      <div class="table-wrap">
        <table class="transaction-history">
          {% for transaction in transactions %}
          <tr>
            <td>
              <span class="text">
                {{ transaction.text }}
              </span>
            </td>
            <td>
              <span class="value">
                {{ transaction.formatted_value }}
              </span>
            </td>
            <td>
              <span class="timestamp">
                {{ format_datetime(transaction.timestamp, "dd MMMM yyyy, HH:mm") }}
              </span>
            </td>
          </tr>
          {% endfor %}
        </table>
      </div>
      {% else %}
      Det är tomt här, strequa mer!
      {% endif %}
      </dd>
    </dl>
    <p><a href="{{ url_for('strequelistan.user_history', user_id=user.id) }}">All historik</a></p>
    {% endif %}
  </div>
</div>
{% endblock %}
