{% extends "layout.html" %}

{% set active_page = "streque" %}

{% from "quotes.html" import quote_inner %}
{% from "macros.html" import profile_picture %}

{# these will be used many times, call only once #}
{% set add_streque_endpoint = url_for('strequelistan.add_streque') %}
{% set csrf_token = csrf_token() %}  {# seems to be quite slow despite token being cached #}

{% macro usercard(user, articles) %}
<div id="usercard-{{ user.id }}" class="card usercard{% if user in birthdays %} birthday-party{% endif %}">
  <div class="picture-and-name">
    <a href="{{ url_for('strequelistan.show_profile', user_id=user.id) }}">
      {{ profile_picture(user) }}
      <div class="username" data-firstname="{{ user.first_name }}"
                            data-lastname="{{ user.last_name }}"
                            data-nickname="{{ user.nickname or '' }}"
                            data-phonenumber="{{ user.formatted_phone(e164=True) }}">
        {{ user.displayname }}
      </div>
    </a>
    {% if user in users_with_streques %}
    {% set bac = user.bac %}
    {% if bac >= 0.1 %}
    <div class="alcometer">
      {% if bac < 0.3 %}
      🍺
      {% elif bac < 0.5 %}
      🍻
      {% elif bac < 1 %}
      👌
      {% elif bac < 1.5 %}
      🕺
      {% elif bac < 2 %}
      😟
      {% elif bac < 2.5 %}
      🤢
      {% elif bac < 3 %}
      😵
      {% elif bac < 3.5 %}
      💀
      {% elif bac < 4 %}
      🇷🇺
      {% else %}
      🇫🇮
      {% endif %}
      <span class="bac">
        {{ '{:.2f}'.format(bac) }}
      </span>
    </div>
    {% endif %}
    {% endif %}
  </div>
  <div class="streque-buttons">
    {% for article in articles %}
    <form class="streque-form" method="POST" action="{{ add_streque_endpoint }}">
      <input type="hidden" name="csrf_token" value="{{ csrf_token }}"/>
      <input type="hidden" name="user_id" value="{{ user.id }}">
      <input type="hidden" name="article_id" value="{{ article.id }}">
      <button class="streque-button"
              type="submit"
              data-userid="{{ user.id }}"
              data-articleid="{{ article.id }}">
        {{ article.name }}
      </button>
    </form>
    {% endfor %}
  </div>
</div>
{% endmacro %}

{% block head %}
<script defer src="{{ url_for('static', filename='js/common.js') }}"></script>
<script defer src="{{ url_for('static', filename='js/addStreque.js') }}"></script>
<script defer src="{{ url_for('static', filename='js/userFilter.js') }}"></script>
{% endblock %}

{% block body %}
<div class="streque-top">
  <nav class="streque-nav">
    <ul>
      <li><a href="{{ url_for("strequelistan.article_description") }}">{{ _("Prislista") }}</a></li>
      <li><a href="{{ url_for("strequelistan.payments") }}">{{ _("Påfyllning av saldo") }}</a></li>
      {% if current_user.is_admin %}
      <li><a href="{{ url_for("strequeadmin.index") }}">Admin</a></li>
      {% endif %}
      <li>
        {% if locale().language == 'sv' %}
        <a class="lang-switch inline-icon" href="?lang=en">
          <img src="{{ url_for('static', filename='images/lang_icon.png') }}">English
        </a>
        {% else %}
        <a class="lang-switch inline-icon" href="?lang=sv_SE">
          <img src="{{ url_for('static', filename='images/lang_icon.png') }}">Svenska
        </a>
        {% endif %}
      </li>
      <li><a href="{{ url_for("auth.logout") }}">{{ _("Logga ut") }}</a></li>
    </ul>
  </nav>

  {% set active_birthdays = birthdays|is_active %}
  {% if active_birthdays %}
  <div class="birthdays">
    <p>{{ birthday_emoji }}
      {% if active_birthdays|length > 1 %}
        {% for birthday in active_birthdays %}{# comment to remove whitespace
        #}{% if loop.first %}{% elif loop.last %} {{ _("och") }} {% else %}, {% endif %}
        <a href="#usercard-{{ birthday.id }}">{{ birthday.nickname or birthday.full_name }}</a>{#
        #}{% endfor %}
      {% else %}
        <a href="#usercard-{{ active_birthdays[0].id }}">{{ active_birthdays[0].nickname or active_birthdays[0].full_name }}</a>
      {% endif %}
      {{ _("fyller år idag!!!") }} {{ birthday_emoji }}
    </p>
  </div>
  {% endif %}

  {% if quote %}
    <blockquote class="quote quote-display">
      {{ quote_inner(quote) }}
    </blockquote>
  {% endif %}

</div>

<div class="cards">
  <input id="ajax-csrf_token" type="hidden" name="csrf_token" value="{{ csrf_token }}"/>

  <h2>{{ _("Inloggad användare") }}</h2>
  {{ usercard(current_user, articles) }}

  <h2 class="user-filter">{{ _("Filtrera användare") }}</h2>
  <div class="user-filter">
      <p><small>{{ _("Du kan söka på namn, smeknamn och telefonnummer.") }}</small></p>
    <input type="text" id="user-filter" placeholder="Namn" autocomplete="off">
    <button id="clear-filter" type="button">{{ _("Rensa") }}</button>
  </div>

  {% for group in groups %}
  <div class="group">
    <h2>{{ group.name }}</h2>
    {% for user in group.users %}
    {{ usercard(user, articles) }}
    {% endfor %}
  </div>
  {% endfor %}
</div>
{% endblock %}
