{% extends "layout.html" %}

{% set active_page = "streque" %}

{% from "quotes.html" import quote_inner %}
{% from "macros.html" import profile_picture %}

{% macro usercard(user, articles) %}
<div class="card usercard">
  <a class="picture-and-name" href="{{ url_for('strequelistan.show_profile', user_id=user.id) }}">
    {{ profile_picture(user) }}
    <div class="username" data-firstname="{{ user.first_name }}"
                          data-lastname="{{ user.last_name }}"
                          data-nickname="{{ user.nickname or '' }}">
      {% if user.nickname %}
      {{ user.nickname }}
      {% else %}
      {{ user.first_name }} {{ user.last_name }}
      {% endif %}
    </div>
  </a>
  <form class="streque-form streque-buttons" method="POST">
    <input type="hidden" name="csrf_token" value="{{ csrf_token() }}"/>
    {% for article in articles %}
    <button class="streque-button"
            type="submit"
            formaction="{{ url_for('strequelistan.add_streque', user_id=user.id, article_id=article.id) }}"
            data-userid="{{ user.id }}"
            data-articleid="{{ article.id }}"
            data-csrftoken="{{ csrf_token() }}">
      {{ article.name }}
    </button>
    {% endfor %}
  </form>
</div>
{% endmacro %}

{% block body %}
<div class="cards">
  <blockquote class="quote quote-display">
    {{ quote_inner(quote) }}
  </blockquote>

  <h2>Inloggad användare</h2>
  {{ usercard(current_user, articles) }}

  <h2>Filtrera användare</h2>
  <div class="user-filter">
    <input type="text" id="user-filter" placeholder="Namn" autocomplete="off">
    <button id="clear-filter" type="button">Rensa</button>
  </div>

  {% for group in groups %}
  <div class="group">
    <h2>{{ group.name }}</h2>
    {% for user in group.users %}
    {{ usercard(user, articles) }}
    {% endfor %}
  </div>
  {% endfor %}
</div>
{% endblock %}

{% block scripts %}
{% assets "js_common", "js_streque" %}
<script src="{{ ASSET_URL }}"></script>
{% endassets %}
{% endblock %}
