{% extends "layout.html" %}

{% set active_page = "streque" %}

{% block body %}
<div class="profile">
  <div>
    <h2>
      {{ user.first_name }}
      {% if user.nickname %}"{{ user.nickname }}"{% endif %}
      {{ user.last_name }}
    </h2>
    <dl>
      <dt>Saldo</dt>
      <dd>{{ user.formatted_balance }}</dd>

      <dt>Historik</dt>
      {% if not transactions %}
      <p>Det är tomt här, strequa mer!</p>
      {% else %}
      <dd>
      <ol class="transaction-history">
      {% for transaction in transactions %}
        <li>
          <div class="upper">
            <span class="text">
              {{ transaction.text }}
            </span>
            <span class="value">
              {{ transaction.formatted_value }}
            </span>
          </div>
          <div class="timestamp">
            {{ format_datetime(transaction.timestamp, "dd MMMM yyyy, HH:mm") }}
          </div>
        </li>
      {% endfor %}
      </ol>
      </dd>
      {% endif %}
      </dl>
    </div>
</div>
{% endblock %}
