.date-range-form {
    margin-bottom: 1rem;
}

.bulk-transactions {
    margin: 1rem 0;
}

.transactions p {
    max-width: 40rem;
}

.articles td.article-description {
    max-width: 30rem;
    min-width: 15rem;
    white-space: normal;
}
