.admin-index {
  max-width: 30rem;
}

.admin-index ul {
  list-style: none;
}

.admin-index li {
  margin: .5rem 0;
}


.date-range-form {
  margin-bottom: 1rem;
}

.bulk-transactions {
  margin: 1rem 0;
}

.bulk-transactions .value input {
  max-width: 8rem;
}

.bulk-transactions td.user,
.transactions td.user {
  min-width: 10rem;
  max-width: 10rem;
  white-space: normal;
}

.bulk-transactions .type.deposit {
  color: green;
}

.bulk-transactions .type.withdrawal {
  color: red;
}

.transactions td.text {
  min-width: 12rem;
  max-width: 14rem;
  white-space: normal;
}

.transactions p {
  max-width: 40rem;
}

.articles td.article-description {
  max-width: 30rem;
  min-width: 15rem;
  white-space: normal;
}

.calculate-sg-volume,
.calculate-sg-percent {
  margin-right: 5px;
}
.calculate-sg-volume input,
.calculate-sg-percent input {
  width: 4rem;
  margin-right: 2px;
}

.requests {
  max-width: 30rem;
}

.requests dl + dl {
  border-top: 1px solid #ddd;
}

.requests dl {
  margin-bottom: 1.5rem;
}

.quotes .quote {
  white-space: normal;
  max-width: 20rem;
  min-width: 15rem;
}

.quotes .who {
  white-space: normal;
  max-width: 15rem;
  min-width: 10rem;
}

.nickname-info {
  max-width: 50rem;
}
