.usercard {
    align-items: center;
}

.usercard .picture-and-name {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    margin-right: .7rem;
}

.usercard .username {
    margin: .2rem;
}

.usercard .profile-picture {
    object-fit: contain;
    width: 4rem;
    height: 3rem;
    margin: .2rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

.streque-buttons {
    display: flex;
    justify-content: flex-end;
    flex-wrap: wrap;
}

.streque-button,
.void-button {
    border: 1px solid #ddd;
    border-radius: 3px;
    padding: 0.3rem;
    margin: 0.3rem;
}

.user-filter {
    margin-bottom: 2.5rem;
}

.hidden {
    display: none;
}

.transaction-history td {
    min-width: 5rem;
}

.streques {
    max-width: 30rem;
    width: 100%;
}

.streques ol {
    list-style: none;
    padding: 0;
}

.strequecard {
    display: flex;
    align-items: center;

    /* For fade out, see js */
    opacity: 1;
    transition: opacity 300ms linear;
}

.timestamp {
    font-style: italic;
    color: #444;
}

.strequecard .username {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-items: center;
}

.strequecard .timestamp {
    font-size: .8em;
    margin-top: .2rem;
}

.strequecard .text {
    justify-self: flex-end;
    display: flex;
    align-items: center;
    margin: 0 2rem 0 1rem;
}

.quote-display {
    border-left: 5px solid #ddd;
    width: 100%;
    padding-left: 1rem;
    margin: 2rem 0;
}

.change-profile-picture {
    max-height: 30rem;
    overflow-y: scroll;
}

.change-profile-picture img {
    max-width: 10rem;
    max-height: 10rem;
}

#emma {
    display: none;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    object-fit: cover;
    border-radius: 50%;

    /* NOTE: This is a bit weird, but it works. */
    max-width: 75vh;
    max-height: 75vw;
    width: 75vw;
    height: 75vh;
}
