.usercard {
    align-items: center;
}

.usercard .picture-and-name {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-right: .5rem;
    max-width: 12rem;
    min-width: 0;
    flex: 1;
}

.usercard .username {
    text-align: center;
}

.usercard .profile-picture {
    object-fit: cover;
    width: 5rem;
    height: 5rem;
    border-radius: 7px;
    margin-bottom: .5rem;
}

.streque-buttons {
    display: flex;
    justify-content: flex-end;
    flex-wrap: wrap;
    flex: 1;
}

.streque-button,
.void-button {
    border: 1px solid #ddd;
    border-radius: 3px;
    padding: 0.3rem;
    margin: 0.3rem;
    min-width: 3rem;
}

.user-filter {
    margin-bottom: 2.5rem;
}

.hidden {
    display: none;
}

.streques {
    max-width: 30rem;
    width: 100%;
}

.streques ol {
    list-style: none;
    padding: 0;
}

.strequecard {
    display: flex;
    align-items: center;

    /* For fade out, see js */
    opacity: 1;
    transition: opacity 300ms linear;
}

.timestamp {
    font-style: italic;
    color: #444;
}

.strequecard .username {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-items: center;
}

.strequecard .timestamp {
    font-size: .8em;
    margin-top: .2rem;
}

.strequecard .text {
    justify-self: flex-end;
    display: flex;
    align-items: center;
    margin: 0 2rem 0 1rem;
}

.quote-display {
    border-left: 5px solid #ddd;
    width: 100%;
    padding-left: 1rem;
    margin: 2rem 0;
}

.change-profile-picture {
    max-height: 30rem;
    overflow-y: scroll;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 1rem;
    align-items: center;
    justify-items: center;
}

.change-profile-picture input[type=radio] {
    display: none;
}

.change-profile-picture input[type=radio]:checked + label > .label {
    border: 5px solid #6797D0;
}

.change-profile-picture .form-field {
    margin: 0;
}

.change-profile-picture .label {
    min-width: 5rem;
    min-height: 5rem;
    max-width: 9rem;
    max-height: 9rem;
    border: 5px solid transparent;
    padding: 2px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.article-descriptions {
    max-width: 30rem;
    width: 100%;
}

.article-descriptions dl div + div {
    border-top: 1px solid #ddd;
}

.article-descriptions .article dd:last-child {
    margin-bottom: 1.5rem;
}

#emma {
    display: none;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    object-fit: cover;
    border-radius: 50%;

    /* NOTE: This is a bit weird, but it works. */
    max-width: 75vh;
    max-height: 75vw;
    width: 75vw;
    height: 75vh;
}
